/* Basic styles can be added here */
body, html, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.fade-in-container {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.fade-in-container.visible {

  opacity: 1;

}



.card-img-fixed {



  height: 200px;



  object-fit: cover;



  width: 100%;



}







.btn-details {







  border: 1px solid var(--primary-color);







  border-radius: 50px;







  padding: 0.25rem 0.75rem;







  font-size: 0.8rem;







  color: var(--primary-color);







  text-decoration: none;







  transition: all 0.3s ease-in-out;







}















.btn-details:hover {







  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);







  color: white;







  border-color: transparent;







}




